@tailwind base;
@tailwind components;
@tailwind utilities;


.curve {
  width: 50px;
  height: 50px;
  border: solid 3px #57534e;
  border-color: transparent transparent #57534e #57534e;
  border-radius: 0px 0px 0px 25px;
}

.curve2 {
  width: 250px;
  height: 50px;
  border: solid 3px #57534e;
  border-color: #57534e #57534e transparent transparent;
  border-radius: 0px 25px 0px 0px;
}

.selfImage {
  width: 352px; /* equivalent to w-80 in Tailwind */
  height: 352px; /* equivalent to h-80 in Tailwind */
  object-fit: cover;
  object-position: center center;
}